html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgreen;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.navbar ul {
    list-style-type: none;
    background-color: green;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    flex: 1;
    text-align: center;
    min-width: 150px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: darkgreen;
}